.box-sizing(@box) {
    -webkit-box-sizing: @box;
    -moz-box-sizing: @box;
    -ms-box-sizing: @box;
    box-sizing: @box;
}

// These will be included in encore-ui, should be removed from here once so.
.page-title,
.section-title {
    font-weight: 400;
    font-size: 1.4em;
    color: #323232;
}
.section-title {
    margin-top: 1em;
    margin-bottom: 1em;
}
.section-title a small {
    font-weight: 300;
}
.page-title {
    margin-top: 0;
}

.page-subtitle {
    font-weight: 500;
    margin: -10px 0 10px;
    font-size: 1.0em;
    color: #aaa;
}

.flush-left {
    float: left;
}

.flush-right {
    float: right;
}

.currency {
    text-align: right;
}

.payment-trigger {
    .modal-link {
        background: #00ac31;
        color: #fff;
    }
    &.button {
        .modal-link {
            font-size: 1em;
            font-weight: 500;
            color: #fff;
        }
    }
}

//Overview classes (Might be replaced by common css from encore-ui) 
.section {
    overflow: auto;
    margin: 0 0 20px;
    table {
        tr {
            background: #fff;
        }
    }
}

.billing-info {
    @spacing: 25px;
    @fontSize: 1.1em;
    @lineHeight: round(@fontSize * 1.54, 2);

    dl {
        max-width: 350px;
        font-weight: 400;
        font-size: @fontSize;
        color: #727272;
        .accent {
            font-size: @fontSize * 1.1;
            line-height: @lineHeight * 1.4;
            border: 1px #aaa solid;
            margin-bottom: @lineHeight * 0.3;
            &.accent-group {
                border: 0;
                margin-bottom: @lineHeight * 0.3;
                padding-left: 0;
                .left {
                    border: 1px #aaa solid;
                    border-left: 0;
                    border-right: 0;
                    padding-right: 10px;
                    padding-left: @spacing - 1;
                    float: left;
                }
                .right {
                    border: 0;
                    float: left;
                    line-height: 0;
                    .modal-link {
                        display: inline-block;
                        background: #00ac31;
                        color: #fff;

                        font-size: @fontSize * 0.7;
                        line-height: @lineHeight * 1.8;
                        font-weight: 100;
                        
                        padding: 0 10px;
                        margin: 0;
                        
                        
                        border-radius: 0;
                        border: 1px transparent solid;
                        
                        cursor: pointer;
                        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        &:hover,
                        &:active,
                        &:visited {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        dt {
            width: 49%;
            min-width: 170px;
            font-weight: 500;
            float: left;
            text-align: right;
            line-height: @lineHeight;
            letter-spacing: -0.04em;

            &.accent {
                padding-right: 0;
                padding-left: 0;
                border-right: 0;
            }
        }
        dd {
            float: left;
            margin: 0;
            padding-left: @spacing;
            line-height: @lineHeight;
            &.accent {
                padding-left: @spacing;
                border-left: 0;
            }
        }
    }
    margin: 0 0 20px;
}

.billing-transactions {
    @sortColor: #666666;
    @accentRow: #f2f2f2;
    @alertColor: #ff2c00;
    .billing-filters {
        padding: 15px 20px;
        overflow: auto;
        background: #fff;
        margin-bottom: 30px;
        .filter {
            float: left;
            margin-right: 10px;
            .form-item {
                overflow: auto;
                // min-width: 400px;
                // .field-label {
                //     line-height: 30px;
                // }
                div {
                    &.field-select {
                        margin-left: 0;
                        width: auto;
                    }
                    float: left;
                }
                input {
                    width: 225px;
                    top: 0;
                }
                select {
                    min-width: 221px;
                    max-width: 100%;
                    width: auto;
                }
            }
        }
    }
    .transaction-list {
        tr {
            &.invoice {
                background-color: @accentRow;
            }
            th {
                cursor: pointer;
                &.sorted {
                    div {
                        display: block;
                        margin-top: 5px;
                    }
                    .arrow-up {
                        width: 0; 
                        height: 0; 
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        
                        border-bottom: 5px solid @sortColor;
                    }
                    .arrow-down {
                        width: 0; 
                        height: 0; 
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        
                        border-top: 5px solid @sortColor;
                    }
                }
            }
            td {
                &.unpaid {
                    color: @alertColor;
                }
            }
        }
    }
}

.payment-action {
    .account-summary {
        overflow: auto;
        margin-bottom: 1em;

        .amount {
            display: inline-block;
            
            text-align: center;
            margin-left: 5%;
            margin-right: 0;
            width: 30%;
            padding: 15px 0;
            cursor: pointer;
            background: #e6e6e6;
            color: #afafaf;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            strong {
                text-transform: uppercase;
                color: #bfbfbf;
                font-size: 0.8em;
            }
            p {
                font-size: 1.9em;
                font-weight: 100;
                margin: 0.2em 0;
            }
            .arrow-down {
                width: 0; 
                height: 0; 
                margin: 5px auto 0;
                border-left: 9px solid transparent;
                border-right: 9px solid transparent;
                border-top: 8px solid #cfcfcf;
                
            }
            &:hover,
            &.active {
                background-color: #0078ff;
                color: #f3f9ff;
                strong {
                    color: #78acff;
                }
                .arrow-down {
                    border-left: 9px solid transparent;
                    border-right: 9px solid transparent;
                    border-top: 8px solid #0062cc;
                }
            }
            
        }
    }
    .payment-field {
//        overflow: auto;
        margin-bottom: 1em;
        &:last-child {
            margin-bottom: 0;
        }
        .form-item {
            .field-label {
                font-weight: 500;
                font-size: 1em;
                width: 30%;
            }
            .field-prefix {
                font-size: 1.7em;
                font-weight: 300;
                vertical-align: top;
                line-height: 1.3em;
            }
            .field-input {
            //    width: 70%;
                margin: 0;
                .box-sizing(border-box);
                input {
                    background-color: #e8f3ff;
                    border: 1px #dbeafc solid;
                    border-radius: 0;
                    font-size: 1.6em;
                    letter-spacing: -0.05em;
                    padding: 3px 6px;
                    width: 63.275%;
                }
                .field-select {
                    margin: 0;
                    width: 100%;
                    display: block;
                    select {
                        width: 70%;
                        max-width: 70%;
                        border: 1px solid #e4e4e4;
                        border-radius: 0;
                        padding: 10px 20px;
                        margin: 0;
                    }
                    .payment-option-desc {
                        width: 70%;
                        float: right;
                        border: 1px solid #e4e4e4;
                        padding: 1em 2.5em;
                        min-height: 100px;
                        border-top: 0;
                        background-color: #f7f7f7;
                        .box-sizing(border-box);
                        dl {
                            max-width: 100%;
                            font-weight: 500;
                            font-size: 12px;
                            color: #727272;
                            
                            dt {
                                width: 30%;
                                min-width: 50px;
                                font-weight: 800;
                                float: left;
                                text-align: right;
                                clear: left;
                            }
                            dd {
                                float: left;
                                margin: 0;
                                padding-left: 10px;
                                clear: right;
                            }
                        }
                    }
                }
            }
        }
    }
}
