/*
 Colors for different elements/properties in payments
 */
@paymentOptionDefaultColor: @infoBlue;
@paymentChangeColor: @actionBlue;
@paymentPostColor: @actionGreen;
@paymentDisableColor: @actionRed;

/*
 Overrides for the make a payment modal of the summary list and the form-items
 Also append a description panel below the payment method dropdown
 ```
 <div class="payment-field payment-amount">
     <rx-form-item label="Payment Amount" prefix="$">
         <input type="text" ng-model="payment.amount" ng-required="true" ng-blur="setPayment(payment.amount)" />
     </rx-form-item>
 </div>
 ```
*/
.payment-field {
    margin-bottom: @fontSize;
    .form-item {
        margin-top: 0;
        .field-label {
            font-weight: 500;
            font-size: @fontSize;
            width: 30%;
        }
        .field-prefix {
            font-size: @fontSize + 0.4;
            font-weight: 500;
            vertical-align: top;
            line-height: @lineHeight - 0.5;
        }
        .field-input {
            margin: 0;
        }
        .option-table {
            min-width: 100%;
        }
    }
}
.payment-amount {
    input {
        //background-color: #e8f3ff;
        border: 1px #e8e8e8 solid;
        border-radius: 0;
        font-size: 1.4em;
        letter-spacing: -0.05em;
        //padding: 3px 6px;
        width: 90px;
    }
}

/*
 Overrides for the .detail-list of payment options
 */
.payment-options {
    & > * {
        padding: 10px 0;
    }
    .detail-list {
        margin-bottom: 40px;
        .primary {
            color: @paymentOptionDefaultColor;
        }
        .method-number {
            width: 160px;
        }
        .status {
            width: 130px;
            text-align: center;
        }
        .method-action {
            width: 20px;
            text-align: center;
        }
    }
}

.payment-action-options {
    text-align: left;
}

.payment-action {
    img {
        vertical-align: bottom;
    }
}
.payment-change,
.payment-disable,
.payment-post {
    display: block;
    width: 150px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: normal;
    margin: 5px 7px;
}

.payment-change {
    color: @paymentChangeColor;
    &:hover {
        color: @paymentChangeColor;
    }
}

.payment-post {
    color: @paymentPostColor;
    margin: 10px 7px;
    &:hover {
        color: @paymentPostColor;
    }
}
.payment-disable {
    color: @paymentDisableColor;
    &:hover {
        color: @paymentDisableColor;
    }
}

.payment-default {
    padding: 25px 0;
    .section-title {
        display: block;
        float: left;
        line-height: inherit;
        margin: 0;
        margin-right: 40px;
    }
    .method-description {
        padding-right: 40px;
        margin-right: 40px;
        float: left;

        font-size: 1.3em;
        font-weight: 300;
        color: @headingDark;
        border-right: 1px #ccc solid;
        .heading {
            font-size: 1.1em;
            margin-bottom: 15px;
        }
        strong {
            font-weight: 400;
            color: @actionGrey;
        }
        p {
            margin: 0;
        }
    }
    .method-actions {
        float: left;
        width: 10%;
        .button {
            width: 100%;
        }
    }
}

.payment-disable-form {
    &:extend(.payment-default all);
    .clearfix();
    .method-description {
        border-right: 0;
        clear: right;
    }
}

.payment-disable-warn {
    .clearfix();
    img {
        width: 15px;
        vertical-align: bottom;
    }
}