/*

# Preference Page Styles
These are common styles that apply to the preferences page

*/
@import (less, reference) '../bower_components/pure/grids.css';

/*
Column Based Container based on Pure
```
<div class="preferences-container">

</div>
```
*/
.preferences-container {
    &:extend(.pure-g all);
    &:extend(.pure-g-r all);


    border: 1px @inputBorder solid;
    background: white;
    padding: 2em;

    .col-1-3 {
        &:extend(.pure-u-1-3 all);
    }
    .col-2-3 {
        &:extend(.pure-u-2-3 all);
    }
    .col-1 {
        &:extend(.pure-u-1 all);
    }

    .label-definition {
        margin: 1em 0;
        label {
            margin-right: 2em;
        }
    }
}