
/*
 Billing Transactions container with overrides for filters & list of transactions
 ```
 <div class="billing-transactions">
     <div class="detail-filters">
         <span class="filter">
             <rx-form-item label="Reference #">
                 <input type="text" ng-model="listFilter.reference" ng-required="true" />
             </rx-form-item>
         </span>
         <span class="filter">
             <rx-form-item label="Type">
                 <span class="field-select">
                     <select ng-model="listFilter.type" >
                         <option value="">Any</option>
                         <option ng-repeat="t in filterData.types" value="{{t}}">{{t}}</option>
                     </select>
                 </span>
             </rx-form-item>
         </span>
      </div>
      <table class="table transaction-list">
         <tbody>
             <tr ng-repeat="txn in transactions | orderBy:sort.predicate:sort.reverse | TransactionTable:transactionFilter | Paginate:pager" class="{{ txn.type | lowercase }}">
                 <td>{{ txn.reference }}</td>
                 <td>{{ txn.date | date: defaultDateFormat }}</td>
                 <td>{{ txn.type }}</td>
                 <td class="{{ txn.status | lowercase }}">{{ txn.status }}</td>
                 <td class="currency">{{ txn.amount | currency }}</td>
                 <td class="currency">{{ txn.balance | currency }}</td>
             </tr>
         </tbody>
      </table>
  </div>
  ```
*/
.billing-transactions {
    .detail-filters {
        background: #fff;
        margin-bottom: 30px;
        .filter {
            max-width: 23%;
            margin-right: 1em;
        }
        .form-item {
            .clearfix();
            .field-label {
                flex: 0 0 auto;
            }
            .field-content {
                margin-left: 0.8em;
            }
            .field-select {
                &:before {
                    cursor: pointer;
                    z-index: 3;
                }
            }
            input {
                width: auto;
            }
            select {
                width: 100%;
                max-width: inherit;
            }
        }
    }
    .transaction-list {
        tr {
            &.invoice {
                background-color: @accentGrey;
            }
            td {
                &.unpaid {
                    color: @warnRed;
                }
            }
        }
    }
}

/*
 Override common list-definition to increate it's basic font-size
 ```
 <div class="section billing-info">
    <dl class="list-definition">
        ...
    </dl>
 </div>
 ```
*/
.billing-info {
    .list-definition {
        font-size: @fontSize + 0.1;
    }
    .payment-action {
        display: inline-block;
        font-weight: 300;
        font-size: @fontSize;
    }
}

.download {
    margin-left: 1em;
    img {
        vertical-align: middle;
        margin-bottom: 0.3em;
    }
 }

.invoice-summary {
    border-right: dotted 1px;
}
