<rx-page title="'Current Charges & Usage'" subtitle="'On account ' + account.name">
    <div class="section usage-info">
        <div class="section billing-cycle">
        </div>
        <div class="section billing-usage">
            <table class="table usage-list">
                <thead>
                    <tr>
                        <th scope="col">
                            <rx-sortable-column
                                sort-method="sortCol"
                                sort-property="name | ProductName"
                                predicate="sort.predicate"
                                reverse="sort.reverse">
                                Product
                            </rx-sortable-column>
                        </th>
                        <th scope="col">
                            <rx-sortable-column
                                sort-method="sortCol"
                                sort-property="total"
                                predicate="sort.predicate"
                                reverse="sort.reverse">
                                Usage Charges
                            </rx-sortable-column>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="charge in charges | UsageTotal | orderBy:sort.predicate:sort.reverse">
                        <td>{{ charge.name | ProductName }}</td>
                        <td>{{ charge.total| currency }}</td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <hr />
    </div>
</rx-page>