<rx-page title="'Billing - ' + transaction.adjustment.tranRefNum + ' - Adjustment'" subtitle="'On account ' + account.name">
    <div class="section billing-info">
        <hr />
        <dl class="list-definition pull-left">
            <dt class="accent">Adjustment Amount:</dt>
            <dd class="accent accent-group">
                <span class="accent-text">
                    <span ng-if="transaction.adjustment.amount">
                        {{transaction.adjustment.amount | currency }} {{balance.currency}}
                    </span>
                    <span ng-if="!transaction.adjustment.amount">
                        N/A
                    </span>
                </span>
            </dd>
            <dt>Adjustment Date:</dt>
            <dd ng-if="transaction.adjustment.tranDate">{{transaction.adjustment.tranDate | date:'longDate' }}</dd>
            <dd ng-if="!transaction.adjustment.tranDate">N/A</dd>
            <!--
            <dt>Adjusted Payment:</dt>
            <dd ng-if="transaction.adjustment.tranRefNum">{{transaction.adjustment.tranRefNum }}</dd>
            <dd ng-if="!transaction.adjustment.tranRefNum">N/A</dd>
            -->
            <dt>Type:</dt>
            <dd ng-if="transaction.adjustment.type">{{transaction.adjustment.type }}</dd>
            <dd ng-if="!transaction.adjustment.type">N/A</dd>
            <dt>Reason:</dt>
            <dd ng-if="transaction.adjustment.reasonCode">{{transaction.adjustment.reasonCode }}</dd>
            <dd ng-if="!transaction.adjustment.reasonCode">N/A</dd>
        </dl>
    </div>
    <div class="section billing-transaction" ng-show="transaction.adjustment.itemReferences.itemReference.length > 0">
        <hr />
        <table class="table transaction-list">
            <thead>
                <tr>
                    <th scope="col">
                        <rx-sortable-column
                            sort-method="sortCol(property)"
                            sort-property="tranRefNum"
                            predicate="sort.predicate"
                            reverse="sort.reverse">
                            Reference #
                        </rx-sortable-column>
                    </th>
                    <th scope="col">
                        <rx-sortable-column
                            sort-method="sortCol(property)"
                            sort-property="tranDate"
                            predicate="sort.predicate"
                            reverse="sort.reverse">
                            Date
                        </rx-sortable-column>
                    </th>
                    <th scope="col">
                        <rx-sortable-column
                            sort-method="sortCol(property)"
                            sort-property="type"
                            predicate="sort.predicate"
                            reverse="sort.reverse">
                            Type
                        </rx-sortable-column>
                    </th>
                    <th scope="col">
                        <rx-sortable-column
                            sort-method="sortCol(property)"
                            sort-property="amountApplied"
                            predicate="sort.predicate"
                            reverse="sort.reverse">
                            Amount Applied
                        </rx-sortable-column>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="txn in transaction.adjustment.itemReferences.itemReference | orderBy:sort.predicate:sort.reverse" class="{{ txn.type | lowercase }}">
                    <td>
                        <a href="transactions/{{ accountNumber }}/{{ txn.type | lowercase | TransactionType }}/{{ txn.id }}">
                        {{ txn.tranRefNum }}
                        </a>
                    </td>
                    <td>{{ txn.tranDate | date: defaultDateFormat }}</td>
                    <td>{{ txn.type }}</td>
                    <td class="currency">{{ txn.amountApplied | currency }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="section" ng-show="transaction.adjustment.comments">
        <hr />
        <h3 class="section-title">
            Notes
        </h3>
        <table class="table notes-table">
            <th>
                <h3 class="note-creator">{{ transaction.adjustment.rackerSSO }}</h3>
                <small class="note-date">
                {{ transaction.adjustment.tranDate | date: 'shortDate' }} at {{ transaction.adjustment.tranDate | date: 'shortTime' }}
                </small>
            </th>
            <td>
                <p class="note-text">{{ transaction.adjustment.comments }}</p>
            </td>
        </table>
    </div>
</rx-page>
