<rx-page title="'Billing - ' + transaction.writeoff.tranRefNum + ' - Write Off'" subtitle="'On account ' + account.name">
    <div class="section billing-info">
        <dl class="list-definition pull-left">
            <dt class="accent">Write Off Amount:</dt>
            <dd class="accent accent-group">
                <span class="accent-text">
                    <span ng-if="transaction.writeoff.amount">
                        {{transaction.writeoff.amount | currency }} {{balance.currency}}
                    </span>
                    <span ng-if="!transaction.writeoff.amount">
                        N/A
                    </span>
                </span>
            </dd>
            <dt>Posted On:</dt>
            <dd ng-if="transaction.writeoff.tranDate">{{transaction.writeoff.tranDate | date:'longDate' }}</dd>
            <dd ng-if="!transaction.writeoff.tranDate">N/A</dd>
            <dt>Reason:</dt>
            <dd ng-if="transaction.writeoff.reasonCode">{{transaction.writeoff.reasonCode }}</dd>
            <dd ng-if="!transaction.writeoff.reasonCode">N/A</dd>
        </dl>
    </div>
    <div class="section billing-transaction" ng-show="transaction.writeoff.itemReferences.itemReference.length > 0">
        <hr />
        <table class="table transaction-list">
            <thead>
                <tr>
                    <th scope="col">
                        <rx-sortable-column
                            sort-method="sortCol(property)"
                            sort-property="tranRefNum"
                            predicate="sort.predicate"
                            reverse="sort.reverse">
                            Reference #
                        </rx-sortable-column>
                    </th>
                    <th scope="col">
                        <rx-sortable-column
                            sort-method="sortCol(property)"
                            sort-property="tranDate"
                            predicate="sort.predicate"
                            reverse="sort.reverse">
                            Date
                        </rx-sortable-column>
                    </th>
                    <th scope="col">
                        <rx-sortable-column
                            sort-method="sortCol(property)"
                            sort-property="type"
                            predicate="sort.predicate"
                            reverse="sort.reverse">
                            Type
                        </rx-sortable-column>
                    </th>
                    <th scope="col">
                        <rx-sortable-column
                            sort-method="sortCol(property)"
                            sort-property="amountApplied"
                            predicate="sort.predicate"
                            reverse="sort.reverse">
                            Amount Applied
                        </rx-sortable-column>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="txn in transaction.writeoff.itemReferences.itemReference | orderBy:sort.predicate:sort.reverse" class="{{ txn.type | lowercase }}">
                    <td>
                        <a href="transactions/{{ accountNumber }}/{{ txn.type | lowercase }}/{{ txn.id }}">
                        {{ txn.tranRefNum }}
                        </a>
                    </td>
                    <td>{{ txn.dateDate | date: defaultDateFormat }}</td>
                    <td>{{ txn.type }}</td>
                    <td class="currency">{{ txn.amountApplied | currency }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="section" ng-show="transaction.writeoff.comments">
        <hr />
        <h3 class="section-title">
            Notes
        </h3>
        <table class="table notes-table">
            <th>
                <h3>{{ transaction.writeoff.rackerSSO }}</h3>
                <small>
                {{ transaction.writeoff.tranDate | date: 'shortDate' }} at {{ transaction.writeoff.tranDate | date: 'shortTime' }}
                </small>
            </th>
            <td>
                <p>{{ transaction.writeoff.comments }}</p>
            </td>
        </table>
    </div>
</rx-page>
