<div class="rx-payment-method">
    <dl class="list-definition" ng-show="transaction.method.paymentCard">
        <dt>Card Holder:</dt>
        <dd>{{transaction.method.paymentCard.cardHolderName}}</dd>
        <dt>Card Type:</dt>
        <dd>{{transaction.method.paymentCard.cardType}}</dd>
        <dt>Card Number:</dt>
        <dd>{{transaction.method.paymentCard.cardNumber}}</dd>
        <dt>Expiration Date:</dt>
        <dd>{{transaction.method.paymentCard.expirationDate}}</dd>
     </dl>
</div>
