<rx-modal-form
    submitText="Confirm Payment"
    title="Make a Payment"
    subtitle="{{user}}">
    <div class="payment-action">
<!-- 
        <div class="summary-list">
            <div class="summary-item pull-left" ng-click="setPayment(account.balance)" ng-class="{active: account.balance == payment.amount}">
                <strong class="header">Account Balance</strong>
                <p>{{account.balance | CurrencySuffix }}</p>
                <div class="arrow-down"></div>
            </div>
            <div class="summary-item pull-left" ng-click="setPayment(account.currentDue)" ng-class="{active: account.currentDue == payment.amount}">
                <strong class="header">Due Today</strong>
                <p>{{account.currentDue | CurrencySuffix }}</p>
                <div class="arrow-down"></div>
            </div>
            <div class="summary-item pull-left" ng-click="setPayment(account.pastDue)" ng-class="{active: account.pastDue == payment.amount}">
                <strong class="header">Past Due</strong>
                <p>{{account.pastDue | CurrencySuffix }}</p>
                <div class="arrow-down"></div>
            </div>
        </div>
 -->
        <div class="payment-field payment-amount">
            <rx-form-item label="Payment Amount" prefix="$">
                <input type="text" ng-model="payment.amount" ng-required="true" ng-blur="setPayment(payment.amount)" />
            </rx-form-item>
        </div>
        <div class="payment-field payment-method">
            <div class="tab-menu">
                <ul>
                    <li ng-class="{'tab-selected': paymentMethodFilter == 'default'}"><a href="#">Primary</a></li>
                    <li ng-class="{'tab-selected': paymentMethodFilter == 'paymentCard'}"><a href="#">Credit Card</a></li>
                    <li ng-class="{'tab-selected': paymentMethodFilter == 'electronicCheck'}"><a href="#">ACH</a></li>
                    <li ng-class="{'tab-selected': paymentMethodFilter == 'invoice'}"><a href="#">Invoice</a></li>
                </ul>
            </div>
            {{payment.methodId}}
            <rx-form-option-table
                data="paymentMethods"
                columns="paymentCardColumns"
                type="radio"
                model="payment.methodId"
                selected="payment.methodId"
                field-id="paymentMethodTable"
                ></rx-form-option-table>

        </div>
    </div>
</rx-modal-form>
