<rx-page
    title="'Billing - Overview'"
    subtitle="'On account ' + account.name">

    <rx-notifications stack="overviewPage"></rx-notifications>
    <div class="section billing-info">
        <div class="section contact-info pull-left">
            <h3 class="section-title">Contact</h3>
            <div class="section label-definition">
                {{ contactName | LoadingValue:contacts.$resolved:notFoundMsg }}<br />
                <address ng-if="contactAddress.country === 'US'">
                    {{ contactAddress.street }}<br />
                    {{ contactAddress.city }}, {{ contactAddress.state }} {{ contactAddress.zipcode }}
                    {{ contactAddress.country }}
                </address>
                <address ng-if="contactAddress.country === 'United Kingdom'">
                    {{ contactAddress.street }}<br />
                    {{ contactAddress.city }}<br />
                    {{ contactAddress.zipcode }}<br />
                    {{ contactAddress.country }}
                </address>
            </div>
            <hr />
            <h3 class="section-title">Account Summary</h3>
            <div class="section label-definition" ng-if="!(contractEntity.$resolved && supportRoles.$resolved && supportAccount.$resolved)">
                {{ loadingMsg }}
            </div>
            <div class="section label-definition" ng-if="contractEntity.$resolved && supportRoles.$resolved && supportAccount.$resolved">
                <p>
                    <strong>Contract Entity:</strong>
                    {{ contractEntity.description || notFoundMsg }}
                </p>
                <p>
                    <strong>Account Manager:</strong>
                    {{ accountManager.name || notFoundMsg }}
                </p>
                <p>
                    <strong>Business Unit:</strong>
                    {{ supportInfo.businessUnit || notFoundMsg }}
                </p>
                <p>
                    <strong>Consolidated Account:</strong>
                    {{ supportAccount.linked_account_number || notFoundMsg }}
                </p>
            </div>
            <h3 class="section-title">Account Status</h3>
            <div class="section label-definition">
                <p>
                    <strong>Status:</strong>
                    {{ account.status | LoadingValue:account.$resolved:notFoundMsg }}
                </p>
            </div>
        </div>

        <dl class="list-definition pull-right">
            <dt class="accent">Current Amount Due:</dt>
            <dd class="accent accent-group">
                <span class="accent-text">
                    {{ balance.amountDue | LoadingValue:balance.$resolved:notFoundMsg }} {{ balance.currency }}
                </span>
                <span class="accent-action" ng-show="paymentAmount && paymentMethods">
                    <rx-payment-action
                        post-hook="postPayment"
                        userName="userName"
                        classes="button"
                        amount="paymentAmount"
                        method-id="paymentMethod.id"
                        methods="paymentMethods">
                        <strong>+</strong> Make a Payment
                    </rx-payment-action>
                </span>
            </dd>
        </dl>
    </div>
</rx-page>