<rx-page title="'Billing - Purchase Orders'" subtitle="'On account ' + account.name" ng-init="poNotFound = 'No Purchase Orders'">
    <rx-notifications stack="purchaseOrderPage"></rx-notifications>
    <div class="section section-grid purchase-orders">
        <div class="col-2-3">
            <div class="section inline">
                <div class="label-definition">
                    <p>
                        <label>Number:</label> {{ currentPurchaseOrder.poNumber | LoadingValue:purchaseOrders.$resolved:poNotFound }}
                    </p>
                    <p>
                        <label>Start Date:</label> {{ currentPurchaseOrder.startDate | date:defaultDateFormat | LoadingValue:purchaseOrders.$resolved:poNotFound }}
                    </p>
                </div>
                <div class="actions">
                    <ul>
                        <li>
                            <rx-purchase-order-create
                                user-name="userName"
                                current-purchase-order="{{ currentPurchaseOrder.poNumber }}"
                                classes="button"
                                notification-stack="purchaseOrderPage"
                                post-hook="refreshPurchaseOrders()">
                                <img src="images/icon-add_white.png" /> Add New Purchase Order
                            </rx-purchase-order-create>
                        </li>
                        <li>
                            <button class="button action disable">
                                <img src="images/icon-disable_white.png" /> Disable Purchase Order
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <h3 class="section-title">History</h3>
    <div class="section section-grid">
        <div class="col-2-3">
            <table class="table purchase-order-list">
                <thead>
                    <tr>
                        <th scope="col">
                            <rx-sortable-column
                                sort-method="sortCol(property)"
                                sort-property="startDate"
                                predicate="sort.predicate"
                                reverse="sort.reverse">
                                Start Date
                            </rx-sortable-column>
                        </th>
                        <th scope="col">
                            <rx-sortable-column
                                sort-method="sortCol(property)"
                                sort-property="poNumber"
                                predicate="sort.predicate"
                                reverse="sort.reverse">
                                Number
                            </rx-sortable-column>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="purchaseOrder in purchaseOrders | ClosedPurchaseOrders | orderBy:sort.predicate:sort.reverse | Paginate:pager">
                        <td>{{ purchaseOrder.startDate | date:defaultDateFormat }}</td>
                        <td>{{ purchaseOrder.poNumber }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="paginate-area">
                        <td colspan="6">
                            <rx-paginate page-tracking="pager"></rx-paginate>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</rx-page>