<rx-modal-form
    submitText="Add Purchase Order"
    title="Add New Purchase Order"
    subtitle="for {{account.name}}">
    <div class="purchase-order-form">
        <rx-notifications stack="purchaseOrderCreate"></rx-notifications>
        <rx-form-item label="Number">
            <input type="text" ng-model="fields.purchaseOrderNumber" ng-required="true" />
        </rx-form-item>
        <div class="payment-disable-warn msg-warn">
            <img src="/billing/images/icon-warning.png" /><strong>Warning:</strong> Purchase Order {{ currentPurchaseOrder }} will no longer be active with this account.
        </div>
    </div>
</rx-modal-form>
